.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.FormField,
.From {
  display: flex;
  flex-direction: column;
}
.AdminField__Input {
  padding: 10px 10px;
  margin: 4px;
}
.dashboardClass {
  display: flex;
  color: white;
  margin-top: 5%;
}
.textContainer {
  margin-left: 15%;
}
.tableSpan {
  padding: 2px 12px;
  font-weight: 600;
  display: inline-flex;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
}

.card {
  color: black;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 15px;
  max-width: 10rem;
  border: none;
  border-radius: 10px;
  text-align: center;
  margin: 1%;
}

.overView {
  display: flex;
  margin-top: 1%;
}

.spanText {
  background-color: white;
  line-height: 20px;
  font-weight: 600;
  font-size: medium;
  padding: 20px 35px;
  border: none;
  border-radius: 3px;
  color: black;
}

.overView1 {
  display: flex;
}

.statusClass {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  margin-left: 2%;
  border-radius: 3px;
  padding: 20px 35px;
  line-height: 10px;
  font-weight: 600;
  font-size: medium;
}

.percentage {
  margin-top: 2%;
  border: 1px solid rgba(209, 250, 229);
  padding: 40px 50px;
  border-radius: 50%;
  background-color: rgba(209, 250, 229);
  color: rgba(6, 95, 70);
  margin-top: 15%;
}
